@model Product


<section class="centeredPanel" id="detail">
    <h2 class="page">Solar System Geek Gift Shop</h2>
    <div class="div-image">
        <img src="~/images/@(Model.ImageName)" class="detail-image">
    </div>
    <div class="detail-title">@Model.Name</div>
    <div class="detail-price">@Model.Cost.ToString("C")</div>
    <div class="detail-description">@Model.Description</div>

    <form asp-controller="Store" asp-action="AddToCart" method="post" class="detail-input">
        <label asp-for="Quantity">Quantity to buy</label>
        <input asp-for="Quantity" />
        <input type="hidden" value="@Model.Id" name="id" />
        <input type="submit" value="Add to Cart" />
    </form>
</section>


