@model List<Product>

@{
    ViewData["Title"] = "Index";
}
<section class="centeredPanel">
    <h2>Solar System Geek Gift Shop</h2>
    <div class="store-grid">

        @foreach (var item in Model)
        {
           
            <div>
                <a asp-controller="Store" asp-action="Detail" asp-route-id="@(item.Id)"><img class="img" src="~/images/@item.ImageName" /></a>
            </div>

            <div>
                <h3 class="name">@item.Name</h3>
                <h3 class="price">@item.Cost.ToString("C")</h3>
            </div>


        }
    </div>


    </section>