@model AlienTravelModel

@{
    ViewData["Title"] = "Alien Travel Result";
}


<section id="calculatorResult" class="centeredPanel">

    <img src="~/images/@(Model.Planet).jpg" class="planet-picture" />

    <p class="description">Traveling by @Model.Mode you will reach @Model.Planet in @Math.Round(Model.TravelConversion(),2) years. You will be @Math.Round(Model.YearsTook(),2) years old.</p>

</section>