@model AlienWeightModel

@{
    ViewData["Title"] = "Alien Weight Result";
}


<section id="calculatorResult" class="centeredPanel">

<img src="~/images/@(Model.Planet).jpg" class="planet-picture"/>
<p class="description">If you are @Model.Weight lbs on planet Earth, you would weigh @Math.Round(Model.WeightConversion(),2) lbs on @(Model.Planet).</p>

</section>