@model List<ForumPost>


@{
    ViewData["Title"] = "Index";
}

<section class="centeredPanel">
    <h2 class="title">Solar System Geek Forum</h2>
    <a asp-controller="Forum" asp-action="NewPost">Post a Message</a>

    <table class="table table-striped">
        <tbody>

            @foreach (var post in Model)
            {
            <tr><td><strong>@post.Subject</strong></td>
                <td>by @post.Username on @post.PostDate</td>  
                <td>@post.Message</td>
            </tr>
            }
        </tbody>
    </table>
</section>

