@model ForumPost

@{
    ViewData["Title"] = "NewPost";
}

<h2><strong>New Geek Post</strong></h2>
    
<form asp-controller="Forum" asp-action="NewPost" method="post">
    <div id="fuckthisshit">
        <label asp-for="Username">Username</label>
        <input type="text" asp-for="Username" />
        <label asp-for="Subject">Subject</label>
        <input type="text" asp-for="Subject" />
        <label asp-for="Message">Message</label>
        <input type="text" asp-for="Message" />
        <input type="submit" value="Post" />
    </div>
</form>